<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .highli{ 
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: -webkit-box;    
              
            /* The number of lines to be displayed */ 
            -webkit-line-clamp: 5;  
            -webkit-box-orient: vertical; 
        } 
    </style>
    <script>
        const queryString = window.location.search;
        let keywords = [];
        let isSecondIntent = new URLSearchParams(queryString).get("isSecondIntent");
        let intent = new URLSearchParams(queryString).get("intent");

        if(isSecondIntent && intent == 'keywordSearch'){
            keywords.push(new URLSearchParams(queryString).get("keyword1").toLowerCase())
            keywords.push(new URLSearchParams(queryString).get("keyword2").toLowerCase())
        }else{
            if(new URLSearchParams(queryString).get("keyword")){
                keywords.push(new URLSearchParams(queryString).get("keyword").toLowerCase())
            }
        }
    </script>
    <title>Searching Result</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">PowerMeeting</h1>
        <h4>Search Result:</h4>    
        <small>Number of result: <%= results.length %></small>   
        <div class="list-group" id="result-list">
            <% for(i=0; i < results.length ; i++){ %>

                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><a href="/query/document/<%= results[i].pdf_id %>"><%= results[i].title %></a></h5>
                    </div>
                    <p class="mb-1 highli" id="content<%= i %>" ></p>
                    <small id="date-<%= i %>"></small>
                </div>
                <script>
                    var date = `${new Date(<%= results[i].date %>).getDate()}-${new Date(<%= results[i].date %>).getMonth() + 1}-${new Date(<%= results[i].date %>).getFullYear()}`;
                    document.getElementById("date-<%= i %>").innerHTML = date;                    
                    
                    var fullcontent = `<%= results[i].content %>`;
                    var key = [];
                    var displaycontent = "";
                    if(keywords.length > 0){
                        if(keywords[0].split(" ").length > 0){ // First keyword split to array success
                            let firstKeywords = keywords[0].split(" ")
                            for(let keyword of firstKeywords){
                                for (keywposition = fullcontent.toLowerCase().indexOf(keyword); keywposition >= 0; keywposition = fullcontent.toLowerCase().indexOf(keyword, keywposition + 1)) {
                                    key.push(keywposition);
                                }
                                if(key.length > 0){
                                    break;
                                }
                            }
                        }else{ // First keyword is single word.
                            for (keywposition = fullcontent.toLowerCase().indexOf(keywords[0]); keywposition >= 0; keywposition = fullcontent.toLowerCase().indexOf(keywords[0], keywposition + 1)) {
                                key.push(keywposition);
                            }
                        }

                        /** 
                         * Show the keyword relevant paragraph
                         */
                        for (i = 0; i < key.length; i++){
                            var frontcontent = fullcontent.substring(0, key[i]);
                            var backcontent = fullcontent.substring(key[i]);
                            var front = frontcontent.lastIndexOf(".");
                            var back = backcontent.indexOf(".");
                            if(i > 0){
                                if (key[i-1] > front && key[i-1] < back){
                                    continue;
                                }
                            }
                            displaycontent += frontcontent.substring(front+1) + backcontent.substring(0, back+1);
                        }
                    }else{
                        displaycontent += fullcontent;
                    }
                    
                    document.getElementById("content<%= i %>").innerHTML = displaycontent;
                </script>
            <% } %>
        </div>           
    </div>    
</body>
<script src="./public/js/hilitor.js"></script>
<script>

  window.addEventListener("DOMContentLoaded", function(e) {
      if(keywords.length > 0){
        var myHilitor2 = new Hilitor("result-list");
        myHilitor2.setMatchType("left");
        myHilitor2.apply(keywords.join(" "));
      }
  }, false);

</script>
</html>